body {
    background: url("../images/regal.png");
    margin: 0; 
    padding: 5px;
    line-height: 150%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 960px;
    margin-top: 20px;
  }

/* My Name in the header */
.name {
    background: url("../images/regal.png");
    font-size: 50px;
    font-family: 'Cookie', cursive;
    color: black;
    padding-left: 25px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-bottom: 50px;
    border-bottom: 4px;
    border-bottom-color: #cccccc;
}
/* Links in the Header */
.websites {
    font-family: 'Courgette', cursive;
    font-size: 15px;
    color: black;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.aboutMe {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: black;
    padding-left: 5%;
}