body {
    background: url("../images/regal.png");
    margin: 0; 
    padding: 5px;
    line-height: 150%;
    color: black;
    margin-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;  
  }

/* My Name in the header */
.name {
    background: url("../images/regal.png");
    font-size: 50px;
    font-family: 'Cookie', cursive;
    color: black;
    padding-left: 25px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-bottom: 50px;
    border-bottom: 4px;
    text-align: center;
}
/* Links in the Header */
.websites {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    float: right;
    text-align: center;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}

.aboutMe h1 .p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 5%;
}

.thead {
    background: url("../images/regal.png");
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
.table-responsive {
    background: url("../images/regal.png");
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 5%; 
    padding-right: 5%;
}